body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.btn {
    padding: 12px;
    background-color: #333;
    color: white !important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all ease 0.5s;
}

.btn:hover {
    background-color: #111;
}

header {
    position: sticky;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    color: var(--white-color);
}

.navbar .logo img {
    width: 50px;
    padding: 5px;
}

.navbar .nav-links {
    display: flex;
    gap: 20px;
    padding: 15px 0px;
    margin: 0;
}

.navbar .nav-links li {
    position: relative;
    list-style: none;
}

.navbar .nav-links a {
    font-weight: 700;
    color: #000;
    padding: 10px;
    display: block;
    text-decoration: none;
}

.navbar .nav-links a:hover {
    background-color: #333;
    color: #fff;
}

.navbar .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--bg-color);
    list-style: none;
    padding: 0;
}

.navbar .dropdown-menu li {
    padding: 10px;
}

.navbar .dropdown-menu a {
    color: var(--white-color);
}

.navbar .dropdown:hover .dropdown-menu {
    display: block;
    background-color: var(--bg-color);
}

.navbar .toggle-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.navbar .toggle-menu i {
    display: block;
    margin: 5px 20px;
    font-size: 20px;
}

.content {
    padding: 20px;
}

.content h1 {
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.dashboard-widgets {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}

.widget {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    margin: 10px;
}

.widget h3 {
    margin-bottom: 10px;
    color: #333;
}

.widget p {
    font-size: 24px;
    color: #333;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0px;
    background-color: #333;
    text-align: center;
}

footer p {
    margin: 0;
    color: #fff;
}

/* Media Queries */

/* For tablets (768px and below) */
@media (max-width: 768px) {
    .navbar .toggle-menu {
        display: block;
    }

    .navbar .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--bg-color);
    }

    .navbar .nav-links.active {
        display: flex;
        position: absolute;
        top: 100%;
        background-color: #f4f4f4;
    }

    .navbar .nav-links a {
        text-align: center;
        color: var(--white-color);
        padding: 15px;
    }

    .dashboard-widgets {
        flex-direction: column;
        align-items: center;
    }

    .widget {
        width: 100%;
        max-width: 350px;
    }
}

/* For mobile devices (480px and below) */
@media (max-width: 480px) {
    .navbar h1 {
        font-size: 24px;
    }

    .navbar ul li a {
        font-size: 16px;
    }

    h2 {
        font-size: 22px;
    }

    .widget {
        width: 90%;
        max-width: 300px;
        padding: 15px;
    }

    .widget h3 {
        font-size: 18px;
    }

    .widget p {
        font-size: 20px;
    }
}

/* For very small devices (320px and below) */
@media (max-width: 320px) {
    .navbar h1 {
        font-size: 20px;
    }

    .navbar ul li a {
        font-size: 14px;
    }

    h2 {
        font-size: 20px;
    }

    .widget {
        width: 100%;
        max-width: 280px;
        padding: 10px;
    }

    .widget h3 {
        font-size: 16px;
    }

    .widget p {
        font-size: 18px;
    }
}