body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.contract-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.contract-card h2 {
    margin-top: 0;
}

.contract-card p {
    margin: 5px 0;
}

.btn {
    padding: 12px;
    background-color: #333;
    color: white !important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all ease 0.5s;
}

.btn:hover {
    background-color: #111;
}



/* Media Queries */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    .btn {
        padding: 8px 12px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .contract-card {
        padding: 10px;
    }

    .btn {
        display: block;
        width: 100%;
        margin: 5px 0;
    }
}